@charset "UTF-8";
@font-face {
    font-family: 'comic';
    src: url('fonts/comic-sans-ms-4.ttf') format('truetype');
}

body{
    background-image: url('imagens/background.png');
    background-repeat: round;
    font: normal 1em 'comic', sans-serif;
}
h1{
    text-align: center;
    font: bold 112px Times, serif;
    color: white;
    position: relative;
    top: -40px;
}
h2{
    text-align: center;
    position: relative;
    top: -120px;
    font: normal 40px 'comic', sans-serif;
    color: #fff54f; 
}
main{
    font: bold 25px 'comic', sans-serif;
    text-align: justify;
    color: #fff54f;
}
#botton{
    cursor: pointer;
    text-align: center;
    margin: auto;
    width: 325px;
}
#evandro{
    text-align: center;
    position: relative;
    top: -150px;
}
#doacao{
    background-color: black;
    width: 855px;
    height: 197px;
    text-align: center;
    margin: auto;
}
#tex{
    position: relative;
    top: 20px;
    color: white;
    font: normal 700 25px 'comic', 'sans-serif';
}
.as{
    color: #fff54f;
    font: normal 700 25px 'comic', 'sans-serif';
}
.save{
    text-align: center;
    padding: 35px;
}
#filho{
    margin: auto;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
}
li{
    display: inline;
}
#um{
    padding-right: 125px;
}
#dois{
    padding-right: 130px;
}
#quatro{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    border: none;
}
#prin{
    margin: 1em 525px;
    font-size: 25px;
}
#sec{
    margin: 1em 525px;
    font-size: 21px;
}
#calvo:hover::after{
    content: ' Calvo';
    color: red;
    text-decoration: line-through black;
}
#calvo{
    cursor: pointer;
}
a{
    color: white;
}
#link{
    position: relative;
    left: 0px;
    width: 525px;
    font-size: 16px;
    margin: auto;
}
#contato{
    margin-right: 40px;
}
#termo{
    margin-right: 20px;
}
#politica{
    margin-left: 25px;
}
#copy{
    text-align: center;
    font-size: 12px;
}
#pnguno{
    display: block;
    margin: 0px 865px 0px auto;
}
#facecu{
    display: block;
    margin: -260px 400px 0px auto;
}
.textobranco{
    margin: 1em 525px;
    font-size: 21px;
    color: white;
}
#doente{
    text-align: center;
    font-size: 42px;
    margin: 0px;
}
#esquerda{
    position: relative;
    top: 135px;
    left: 470px;
}
#direita{
    position: relative;
    top: 135px;
    left: 925px;
}
#cancer{
    text-align: center;
    font-size: 42px;
}
#ajuda{
    text-align: center;
    font-size: 42px;
    color: #ffe107;
}